main.main
  #Emgrand.card__wrapper
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 

  #Coolray.card__wrapper
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img2.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageSecond(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageSecond(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageSecond(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageSecond(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery2",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery2",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery2",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery2",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 

  #Atlas.card__wrapper
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img3.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageThird(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageThird(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageThird(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageThird(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageThird(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery3",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery3",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery3",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery3",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
  #Tugella.card__wrapper
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img4.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageFourth(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageFourth(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageFourth(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageFourth(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImageFourth(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery4",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery4",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery4",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery4",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
  #AtlasPro.hidden
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery5",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery5",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery5",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery5",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
  #Belgeex50.hidden
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery6",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery6",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery6",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery6",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
  #Okavango.hidden
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery7",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery7",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery7",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery7",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
  #Monjaro.hidden
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery8",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery8",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery8",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery8",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
  #TugellaSecond.hidden
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery9",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery9",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery9",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery9",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
  #Coolray2023.hidden
    .card__left-side
      h2.card__title GEELY MONJARO
      .price-wrapper
        p.old-price 2 217 900 руб.
        p.new-price от 1 217 900 руб.
        p.credit-price Платеж от 12 307 руб./мес.
      .buttons-wrapper
        button.get-deal.button Получить предложение
        button.buy-credit.button Купить в кредит
    .card__right-side
      .promo-list
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/kasko.png",
            alt="Иконка КАСКО"
          )
          p.promo-list-item-decription КАСКО или комплект шин в подарок
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/deposit.png",
            alt="Иконка денег"
          )
          p.promo-list-item-decription Первоначальный <br>взнос от 0 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/tradein.png",
            alt="Иконка обмена"
          )
          p.promo-list-item-decription Бонус по трейд-<br>ин до 300 000 ₽
        .promo-list-item
          img.promo-list-item-img(
            src="./images/images/garantee.png",
            alt="Иконка договора гарантии"
          )
          p.promo-list-item-decription Гарантия 5 лет<br> или 150 000 км
      .model-wrapper
        .model-picture
          img#car-img.model-picture-img(
            src="./images/images/geely-monjaro.png",
            alt="Geely Monjaro"
          )
        .model-choose-color
          fieldset
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/geely-monjaro.png",
                type="radio",
                name="color",
                value="blue",
                checked="checked"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-dark-grey.png",
                type="radio",
                name="color",
                value="dark-grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-grey.png",
                type="radio",
                name="color",
                value="grey"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-black.png",
                type="radio",
                name="color",
                value="black"
              )
              span
            label.color-label
              input.color-input.visually-hidden(
                onclick="changeImage(this)",
                image="./images/images/colored-car/geely-monjaro-white.png",
                type="radio",
                name="color",
                value="white"
              )
              span 
        .model-gallery
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery10",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
          a.fancybox(
            href="./images/images/gallery-2.jpg", 
            data-fancybox="gallery10",
            data-caption="Вид сзади")
            img.model-gallery-img(
                src="./images/images/gallery-back.png",
                alt="Фотография автомобиля сзади"
            ) 
          a.fancybox(
            href="./images/images/gallery-3.jpg", 
            data-fancybox="gallery10",
            data-caption="Вид в салоне")
            img.model-gallery-img(
                src="./images/images/gallery-interior.png",
                alt="Фотография салона автомобиля"
            ) 
          a.fancybox(
            href="./images/images/gallery-1.jpg", 
            data-fancybox="gallery10",
            data-caption="Вид сверху сбоку")
            img.model-gallery-img(
                src="./images/images/gallery-side-top.png",
                alt="Фотография автомобиля сверху"
            ) 
 
